@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.cartRow:nth-child(even) {
  background-color: rgb(228, 228, 228);
}
.cartRow:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
.cartRow {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.alertLink {
  color: white;
}
.alertLink:hover {
  color: lightgray;
}

.myButton:hover {
  background-color: rgba(255, 0, 0, 0.616) !important;
}

.link:hover {
  color: rgba(255, 0, 0, 0.616) !important;
}
.form-check-input:checked, .form-check-input:active{
  background-color: red !important;
  border:0px solid red !important;
  outline: none !important;
  color:red !important;
}